.socials {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.socials__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.socials__link:hover {
    color: #1da1f2;
}